In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_validate
from sklearn import preprocessing

#plt.style.use('seaborn')

df = pd.read_csv('factbookv2 cleaned.csv')

df

,Country,Continent,Area,Birth rate,Current account balance,Death rate,Electricity consumption,Electricity production,Exports,GDP,...,Life expectancy at birth,Military expenditures,Natural gas consumption,Oil consumption,Population,Public debt,Railways,Reserves of foreign exchange & gold,Total fertility rate,Unemployment rate
0,Albania,Europe,28748,15.08,"($504,000,000.00)",5.12,6760000000,5680000000,"$552,400,000.00","$17,460,000,000.00",...,77.24,1.49,"30,000,000.00",7500,3563112,0.0,447,1206000000,2.04,14.8
1,Algeria,Africa,2381740,17.13,"$11,900,000,000.00",4.60,23610000000,25760000000,"$32,160,000,000.00","$212,300,000,000.00",...,73.00,3.20,"22,320,000,000.00",209000,32531853,37.4,3973,43550000000,1.92,25.4
2,Angola,Africa,1246700,44.64,"($37,880,000.00)",25.90,1587000000,1707000000,"$12,760,000,000.00","$23,170,000,000.00",...,36.61,10.60,"530,000,000.00",31000,11190786,0.0,2761,800000000,6.27,0.0
3,Argentina,America,2766890,16.90,"$5,473,000,000.00",7.56,81650000000,81390000000,"$33,780,000,000.00","$483,500,000,000.00",...,75.91,1.30,"31,100,000,000.00",486000,39537943,118.0,34091,19470000000,2.19,14.8
4,Armenia,Asia,29800,11.76,"($240,400,000.00)",8.16,5797000000,6492000000,"$850,000,000.00","$13,650,000,000.00",...,71.55,6.50,"1,400,000,000.00",5700,2982904,0.0,845,555000000,1.32,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Venezuela,America,912050,18.91,"$14,590,000,000.00",4.90,89300000000,89700000000,"$35,840,000,000.00","$145,200,000,000.00",...,74.31,1.50,"29,400,000,000.00",500000,25375281,43.1,682,25750000000,2.26,17.1
145,Vietnam,Asia,329560,17.07,"($2,061,000,000.00)",6.20,32060000000,34480000000,"$23,720,000,000.00","$227,200,000,000.00",...,70.61,2.50,"1,300,000,000.00",185000,83535576,65.9,2600,6510000000,1.94,1.9
146,Yemen,Asia,527970,43.07,"$369,900,000.00",8.53,2827000000,3040000000,"$4,468,000,000.00","$16,250,000,000.00",...,61.75,7.80,-,78000,20727063,46.4,0,5300000000,6.67,35.0
147,Zambia,Africa,752614,41.38,"($181,400,000.00)",20.23,5345000000,8167000000,"$1,548,000,000.00","$9,409,000,000.00",...,39.70,1.80,0,11000,11261795,127.5,2173,345000000,5.47,50.0
148,Zimbabwe,Africa,390580,29.74,"($230,300,000.00)",24.66,11220000000,8839000000,"$1,409,000,000.00","$24,370,000,000.00",...,36.67,4.30,0,23000,12746990,52.3,3077,57000000,3.54,70.0

In [ ]:
dfpake = df[["GDP",  "Exports", "Imports","Industrial production growth rate", "Investment","Unemployment rate"]]  #ambil kolom data yang akan dipakai

dfpake

,GDP,Exports,Imports,Industrial production growth rate,Investment,Unemployment rate
0,"$17,460,000,000.00","$552,400,000.00","$2,076,000,000.00",3.1,18.4,14.8
1,"$212,300,000,000.00","$32,160,000,000.00","$15,250,000,000.00",6.0,26.2,25.4
2,"$23,170,000,000.00","$12,760,000,000.00","$4,896,000,000.00",1.0,34.5,0.0
3,"$483,500,000,000.00","$33,780,000,000.00","$22,060,000,000.00",12.0,18.3,14.8
4,"$13,650,000,000.00","$850,000,000.00","$1,300,000,000.00",15.0,19.8,30.0
...,...,...,...,...,...,...
144,"$145,200,000,000.00","$35,840,000,000.00","$14,980,000,000.00",12.3,12.9,17.1
145,"$227,200,000,000.00","$23,720,000,000.00","$26,310,000,000.00",16.0,36.6,1.9
146,"$16,250,000,000.00","$4,468,000,000.00","$3,734,000,000.00",3.0,16.1,35.0
147,"$9,409,000,000.00","$1,548,000,000.00","$1,519,000,000.00",6.9,41.4,50.0
148,"$24,370,000,000.00","$1,409,000,000.00","$1,599,000,000.00",-7.8,9.9,70.0

In [ ]:
df=dfpake.copy() #membuat copy dari dataframe

n = len(df.index) #menghitung panjang row data

for i in range(0,n):    #perulangan dilakukan untuk menjalankan perintah secara berulang untuk seluruh data dari row ke-0 hingga row ke-n
  df.loc[i,'GDP'] = df.loc[i,'GDP'].replace("$", "")
  df.loc[i,'GDP'] = df.loc[i,'GDP'].replace(",", "")
  df.loc[i,'GDP'] = df.loc[i,'GDP'].replace(".00", "")

  df.loc[i,'Exports'] = df.loc[i,'Exports'].replace("$", "")
  df.loc[i,'Exports'] = df.loc[i,'Exports'].replace(",", "")
  df.loc[i,'Exports'] = df.loc[i,'Exports'].replace(".00", "")

  df.loc[i,'Imports'] = df.loc[i,'Imports'].replace("$", "")
  df.loc[i,'Imports'] = df.loc[i,'Imports'].replace(",", "")
  df.loc[i,'Imports'] = df.loc[i,'Imports'].replace(".00", "")

df

,GDP,Exports,Imports,Industrial production growth rate,Investment,Unemployment rate
0,17460000000,552400000,2076000000,3.1,18.4,14.8
1,212300000000,32160000000,15250000000,6.0,26.2,25.4
2,23170000000,12760000000,4896000000,1.0,34.5,0.0
3,483500000000,33780000000,22060000000,12.0,18.3,14.8
4,13650000000,850000000,1300000000,15.0,19.8,30.0
...,...,...,...,...,...,...
144,145200000000,35840000000,14980000000,12.3,12.9,17.1
145,227200000000,23720000000,26310000000,16.0,36.6,1.9
146,16250000000,4468000000,3734000000,3.0,16.1,35.0
147,9409000000,1548000000,1519000000,6.9,41.4,50.0
148,24370000000,1409000000,1599000000,-7.8,9.9,70.0

In [ ]:
df["Exports"] = df['Exports'].astype('float')
df["Imports"] = df['Imports'].astype('float')
df["GDP"] = df['GDP'].astype('float')


df.info() #utk melihat info dari dataframe
df.corr() #utk  melihat korelasi antar variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   GDP                                149 non-null    float64
 1   Exports                            149 non-null    float64
 2   Imports                            149 non-null    float64
 3   Industrial production growth rate  149 non-null    float64
 4   Investment                         149 non-null    float64
 5   Unemployment rate                  149 non-null    float64
dtypes: float64(6)
memory usage: 7.1 KB

,GDP,Exports,Imports,Industrial production growth rate,Investment,Unemployment rate
GDP,1.000000,0.774902,0.893074,0.061361,0.067171,-0.093542
Exports,0.774902,1.000000,0.925407,-0.020494,0.036609,-0.148114
Imports,0.893074,0.925407,1.000000,-0.025894,0.015172,-0.133147
Industrial production growth rate,0.061361,-0.020494,-0.025894,1.000000,0.195610,0.029468
Investment,0.067171,0.036609,0.015172,0.195610,1.000000,-0.010832
Unemployment rate,-0.093542,-0.148114,-0.133147,0.029468,-0.010832,1.000000

In [ ]:
# Membuat objek MinMaxScaler
#scaler = MinMaxScaler()

# Melakukan normalisasi data
#normalized_data = scaler.fit_transform(df)

#print(normalized_data)

#normalize dataset
datanew = preprocessing.normalize(df)

col = ['GDP','Exports', 'Imports', 'Industrial production growth rate', 'Investment', 'Unemployment rate']

dtnorm = pd.DataFrame(datanew, columns=col)
dtnorm

,GDP,Exports,Imports,Industrial production growth rate,Investment,Unemployment rate
0,0.992516,0.031401,0.118010,1.762199e-10,1.045950e-09,8.413077e-10
1,0.986236,0.149399,0.070844,2.787289e-11,1.217116e-10,1.179952e-10
2,0.861322,0.474340,0.182004,3.717402e-11,1.282504e-09,0.000000e+00
3,0.996537,0.069624,0.045468,2.473307e-11,3.771793e-11,3.050412e-11
4,0.993588,0.061872,0.094627,1.091855e-09,1.441249e-09,2.183710e-09
...,...,...,...,...,...,...
144,0.966028,0.238447,0.099663,8.183297e-11,8.582482e-11,1.137678e-10
145,0.988062,0.103155,0.114419,6.958186e-11,1.591685e-10,8.262846e-12
146,0.941387,0.258838,0.216316,1.737946e-10,9.326976e-10,2.027603e-09
147,0.974448,0.160319,0.157316,7.146023e-10,4.287614e-09,5.178277e-09
148,0.996198,0.057597,0.065364,-3.188487e-10,4.046926e-10,2.861463e-09

In [ ]:
# Memisahkan atribut dan label
X = df[['Exports', 'Imports', 'Industrial production growth rate', 'Investment', 'Unemployment rate']]
Y = df['GDP']

# Menentukan data untuk train dan test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=0)


# MLP untuk data training
model = MLPRegressor( hidden_layer_sizes =(10,50),
           activation = "identity",
            alpha = 0.05,
            learning_rate = 'constant',
            solver = 'adam',
            max_iter=1000)

"""
from sklearn.model_selection import GridSearchCV
param_grid = [
        {
            'activation' : ['identity', 'logistic', 'tanh', 'relu'],
            'solver' : ['lbfgs', 'sgd', 'adam'],
            'hidden_layer_sizes': [
             (100,),(200,),(3,),(4,),(5,),(6,),(7,),(8,),(9,),(10,),(11,), (12,),(13,),(14,),(15,),(16,),(17,),(18,),(19,),(20,),(21,)
             ]
        }
       ]

model = GridSearchCV(MLPRegressor( #hidden_layer_sizes =(10,50),
           #activation = "identity",
           alpha = 0.05,
           learning_rate = 'constant',
           #solver = 'adam',
           max_iter=500),
           param_grid, cv=3,
           scoring='accuracy')"""

model.fit(X_train, Y_train)

# Prediksi pada data testing
Y_pred = model.predict(X_test)
#Y_pred = pd.DataFrame(Y_pred)

datf = pd.DataFrame(Y_pred)

# Menghitung akurasi
R2 = r2_score(Y_pred, Y_test)
rmse = np.sqrt(mean_squared_error(Y_test, Y_pred))

# Menghitung nilai mean squared error
print("R_squared value:", R2)
print("RMSE: ", rmse)
print(f"the accuracy of this model is {R2*100}%")

print("\nY test:\n",Y_test)
print("\nY pred:\n",datf)

R_squared value: 0.5973491272027617
RMSE:  563806206206.1843
the accuracy of this model is 59.73491272027617%

Y test:
 133    1.148000e+10
109    1.715000e+11
59     2.345000e+11
80     5.892000e+09
7      3.001000e+10
104    1.553000e+11
140    1.782000e+12
95     9.251000e+10
118    7.889000e+10
84     1.456000e+10
33     5.033000e+10
44     1.923000e+10
54     5.947000e+10
24     1.023000e+12
37     1.744000e+11
Name: GDP, dtype: float64

Y pred:
                0
0   2.455196e+10
1   2.011587e+11
2   1.834774e+12
3   5.528763e+09
4   2.512755e+10
5   5.504613e+10
6   3.158212e+12
7   1.295821e+11
8   1.960997e+11
9   8.356969e+09
10  1.358704e+11
11  5.283963e+10
12  6.540387e+10
13  1.505553e+12
14  3.881967e+11

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning:

Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.

In [ ]:
# Actual
actual = go.Scatter(
    x=np.arange(len(Y_test)),
    y=Y_test,
    mode='lines+markers',
    name='Actual',
    line=dict(color='lightskyblue')
)

# Prediction
prediction = go.Scatter(
    x=np.arange(len(Y_test)),
    y=Y_pred,
    mode='lines+markers',
    name='Prediction',
    line=dict(color='magenta')
)

# Membuat object layout
layout = go.Layout(
    title='Prediction GDP',
    xaxis=dict(title='Data', showgrid=False),
    yaxis=dict(title='GDP', showgrid=False),
    plot_bgcolor = 'black'
)


# Mengatur layout untuk figure
fig = go.Figure(data=[actual,prediction], layout=layout)

# Menampilkan visualisasi
fig.show()